body {
    background-color: #92cea9;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.form-container {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    text-align: center;
    color: #233b18;
}